* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
  
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.hamburger {
  display: none;
}
/*====== divider ======*/
.divider {
  overflow: hidden;
  text-align: center;
}
.divider::before, .divider::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 590px;
  height: 2px;
  background-color:#949494;
}
.divider::before {
  margin-left: -100%;
  left: 7px;
}
.divider::after {
  margin-right: -100%;
  right: 7px;
}

.divider > div {
  width: 57px;
  height: 57px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}
.divider > div > img {
  width: 100%;
  height: 100%;
}
/*====== title ======*/
h2.title {
  margin-top: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #949494;
  text-align: center;
}

/*====== Menu ======*/
.header-block {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
nav.menu {
  width: 410px;
}
ul.menu__list {
  display: flex;
  justify-content: space-between;
}
ul.menu__list > li {
  transition: 0.5s all;
}
ul.menu__list > li:hover {
  transform: scale(1.1);
}
ul.menu__list > li > a {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #949494;
}

/*====== section one - select ======*/
.recipe-block {
  padding-top: 20px;
}
.select {
  display: flex;
  justify-content: space-between;
}
.select__item {
  width: 625px;
  height: 472px;
  position: relative;
}
.select__item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.select__item > .item__inner {
  width: 100%;
  text-align: center;
  height: 145px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.select__item > .item__inner h4, .select__item > .item__inner h3 {
  font-size: 18.4px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
.select__item > .item__inner h3 {
  font-size: 41.4px;
  line-height: 48px;
}
.select__item > .item__inner > div {
  max-width: 145px;
  margin: 0 auto;
  margin-top: 55px;
}
.select__item > .item__inner > div > img {
  width: 100%;
}

  /*====== section two - recipe ======*/
  .selection-block {
    padding-top: 30px;
  }
  ul.tab {
    width: 471px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  li.tab__item {
    width: 149px;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    background-color: #f1f1f1;
    line-height: 37px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #5b5b5b;
    cursor: pointer;
    transition: 0.5s all;
  }
  ul.tab > li:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 20px #2f3032;
  }
  li.tab__item_active {
    background-color: #2f3032;
    border: none;
    color: #ffffff;
  }

  .recipe__content {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }
  .card {
     width: 622px;
     min-height: 307px;
     display: flex;
  }
  .card > .card__promo {
    width: 306px;
    display: flex;
    align-items: flex-end;
  }
  .card > .card__promo_left {
    background: url('../img/recipe/bg/bg-left.png') center/cover no-repeat;
  }
  .card > .card__promo_right {
    background: url('../img/recipe/bg/bg-right.png') center/cover no-repeat;
  }
  .card > .card__promo > .author {
    display: flex;
  }
  .card > .card__promo > .author > .author__foto {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0px 7px 20px 20px;
  }
  .card > .card__promo > .author > .author__foto > img {
    width: 100%;
    height: 100%;
  }
  .card > .card__promo > .author > .author__name {
    line-height: 31px;
    font-size: 18.4px;
    font-weight: 400;
    color: #bcbcbc;
  }


  .card > .card__description {
    width: 315px;
    border: 1px solid #f2f2f2;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card > .card__description > .card__description_inner {
    padding: 20px 10px;
  }

  .card > .card__description > .card__description_inner > .description__title > h3 {
    font-size: 24px;
    line-height: 27px;
    font-weight: 400;
    color: #3d3d3d;
    min-height: 81px;
  }
  .card > .card__description > .card__description_inner > .description__icons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 11px;
  }
  .card > .card__description > .card__description_inner > .description__icons > .icons__item {
    width: 90px;
    height: 31px;
    border: 1px solid #e8e8e8;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card > .card__description > .card__description_inner > .description__icons > .icons__item > div {
    width: 20px;
    height: 20px;
  }
  .card > .card__description > .card__description_inner > .description__icons > .icons__item > div > img {
    width: 100%;
    height: 100%;
  }
  .card > .card__description > .card__description_inner > .description__icons > .icons__item > span {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #b5904e;
  }
  .card > .card__description > .card__description_inner > .description__text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #5b5b5b;
    text-align: left;
  }


  .card > .card__description > .card__footer {
    border-top: 1px solid #f2f2f2;
    padding-left: 20px;
    padding-right: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card > .card__description > .card__footer > .like__block, .card > .card__description > .card__footer > .social_block {
    display: flex;
  }
  .card > .card__description > .card__footer > .like__block > .like {
    margin-right: 5px;
    width: 23px;
    height: 19px;
    cursor: pointer;
  }
  .card > .card__description > .card__footer > .like__block > .like > img {
    width: 100%;
    height: 100%;
  }
  .card > .card__description > .card__footer > .like__block > .counter{
    font-size: 14.8px;
    line-height: 1.2;
    font-weight: 400;
    color: #9b9b9b;
  }
  .card > .card__description > .card__footer > .social_block {
    width: 86px;
    display: flex;
    justify-content: space-between;
  }



  /*====== section three - selection ======*/
  .selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px -5px;
  }
  .selection > .selection__item {
    padding: 0px 5px;
  }
  .selection > .selection__item > .item__inner {
    width: 307px;
    height: 490px;
    margin-bottom: 10px;
    position: relative;
  }
  .selection > .selection__item > .item__inner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .selection > .selection__item > .item__inner > h3 {
    position:absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    font-size: 34.5px;
    line-height: 41px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f0f0f0;
  }

  /*====== footer ======*/
  .footer {
    background-color: #252627;
  }
  .footer-block {
    margin-top: 20px;
    padding: 25px 0;
    display: flex;
    align-items: center;
  }
@media (max-width: 1390px) {
  /*====== section one - select ======*/
  /*======          AND         ======*/
  /*====== section two - recipe ======*/
  .select, .recipe__content {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15px;
  }
  .select__item, .card {
    margin-bottom: 15px;
  }

} /*end media 1390*/
@media (max-width: 991px) {
  /*code here*/
} /*end media 991*/
@media (max-width: 767px) {
  /*====== section one - select ======*/
  .select {
    padding: 0;
  }
  /*====== section two - recipe ======*/
  .recipe__content {
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: auto;
    flex-direction: column;
  }
  .card > .card__promo, .card > .card__description {
    width: 316px;
    min-height: 308px;
    border-left: 1px solid #f2f2f2;
  }
} /*end media 767*/
@media (max-width: 575px) {
    /*style hamburger */
    .hamburger {
      display: block;
      position: relative;
      right: 15px;
      top: 50%;
      width: 30px;
      height: 18px;
    }
    .hamburger > span {
      display: block;
      width: 100%;
      height: 2px;
      background: #000000;
      margin-bottom: 4px;
      transition: 0.5s all;
    }
    .hamburger-active > span {
      margin-bottom: -2px;
    }
    .hamburger-active > span:nth-child(1) {
      transform: translateY(3px) rotate(-45deg);
    }
    .hamburger-active > span:nth-child(2) {
      display: none;
    }
    .hamburger-active > span:nth-child(3) {
      transform: translateY(3px) rotate(45deg);
    }
  /*====== Menu ======*/
  .header-block {
    min-height: 40px;
    padding: 0px;
    transition: 0.6s all;
  }
  nav.menu {
    width: 100%;
  }

  ul.menu__list {
    width: 70%;
    display: none;
    flex-direction: column;
  }
  ul.menu__list-active {
    display: block;
    animation-name: fade;
    animation-duration: 2s;
  }
  ul.menu__list > li {
    margin: 5px;
  }
  @keyframes fade{from{opacity: 0.1;}to{opacity: 1;}}
  /*====== divider ======*/
  .divider::before, .divider::after {
    width: 290px;
  }
  /*====== section one - select ======*/
  .select__item {
    height: 345px;
  }
  .select__item > .item__inner h3 {
    font-size: 35px;
    line-height: 37px;
  }
  /*====== section two - recipe ======*/
  ul.tab {
    width: 149px;
    height: 125px;
    flex-direction: column;
  }
  .card > .card__promo, .card > .card__description {
    width: 290px;
  }
  /*==== Footer ====*/
  .footer .hamburger > span {
    background: #949494;
  }
} /*end media 575*/