<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Food
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto&display=swap")
    link(rel="stylesheet", href="css/style.css")
  body
    .container
      header.header
        nav.menu
          ul.menu__list
            li
              a.menu__link(href="#") Подбор рецептов
            li
              a.menu__link(href="#") Рецепты
            li
              a.menu__link(href="#") Горячие рецепты
        .hamburger
          span
          span
          span
      section.section__one
        .divider
          div
           img(src="img/logo-dividers.png", alt="")
        h2.title Подбор рецептов
        .select
          .select__item.background-left
            .item__inner
              h4 Блюдо дня
              h3 Куриные ножки на гриле
              div
                img(src="img/select/background-icon.png", alt="")
          .select__item.background-right
            .item__inner
              h4 Лучшие рецепты недели
              h3 7 лучших рецептов недели
              div
                img(src="img/select/background-icon.png", alt="")
      section.section__two
        .divider
          div
           img(src="img/logo-dividers.png", alt="")
        h2.title Рецепты
        .recipe
          ul.tab
            li.tab__item.tab__item_active Новые репепты
            li.tab__item Популярные
            li.tab__item Рекомендуем
          .recipe__content
            .card
              .card__promo.card__promo_left
                .author
                  .author__foto
                    img(src="img/recipe/img/right.png", alt="")
                  .author__name Daria Fedorenco
              .card__description
                .card__description_inner
                  .description__title
                    h3 Утиные ножки с овощами и грудинкой фасолью
                  .description__icons
                    .icons__item
                      img(src="img/recipe/icons/content-left-icons/bg-icons-1.png", alt="")
                    .icons__item
                      img(src="img/recipe/icons/content-left-icons/bg-icons-2.png", alt="")
                    .icons__item
                      img(src="img/recipe/icons/content-left-icons/bg-icons-3.png", alt="")
                  .description__text говядина, масло топлёное, лук репчатый, морковь, редька, перец сладкий, помидоры, томат-пюре, картофель, чеснок, бульон мясной, соль, перец чёрный, зелень петрушки...
                .card__footer
                  .like__block
                    .like
                      img(src="img/recipe/icons/social-icons/like.png", alt="")
                    .counter
                      span 0
                  .social_block
                    .social__item
                      img(src="img/recipe/icons/social-icons/vk.png", alt="")
                    .social__item
                      img(src="img/recipe/icons/social-icons/fb.png", alt="")
                    .social__item
                      img(src="img/recipe/icons/social-icons/ox.png", alt="")
            .card
              .card__promo.card__promo_right
                .author
                  .author__foto
                    img(src="img/recipe/img/right.png", alt="")
                  .author__name Hristin Fedorenco
              .card__description
                .card__description_inner
                  .description__title
                    h3 Салат из свеклы с козьим сыром и медовой заправкой
                  .description__icons
                    .icons__item
                      img(src="img/recipe/icons/content-left-icons/bg-icons-1.png", alt="")
                    .icons__item
                      img(src="img/recipe/icons/content-left-icons/bg-icons-2.png", alt="")
                    .icons__item
                      img(src="img/recipe/icons/content-left-icons/bg-icons-3.png", alt="")
                  .description__text говядина, масло топлёное, лук репчатый, морковь, редька, перец сладкий, помидоры, томат-пюре, картофель
                .card__footer
                  .like__block
                    .like
                      img(src="img/recipe/icons/social-icons/like.png", alt="")
                    .counter
                      span 0
                  .social_block
                    .social__item
                      img(src="img/recipe/icons/social-icons/vk.png", alt="")
                    .social__item
                      img(src="img/recipe/icons/social-icons/fb.png", alt="")
                    .social__item
                      img(src="img/recipe/icons/social-icons/ox.png", alt="")
          //- .recipe__content
          //- .recipe__content


    script(src="js/script.js")

